.container {
  margin-top: 96px;
}

.footer {
  padding: 64px;
}

.links {
  list-style: none;
  padding: 0;
  margin-bottom: 64px;
  display: flex;
}

.links li {
  margin-right: 64px;
  font-size: 2rem;
  font-weight: 800;
}

.links li a {
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 960px) {
  .container {
    margin-top: 64px;
  }

  .links li {
    font-size: 1.5rem;
  }
}

@media (max-width: 600px) {
  .container {
    text-align: center;
  }

  .links {
    justify-content: space-around;
    align-items: center;
  }

  .links li {
    font-size: 1.5rem;
    margin-right: 0;
  }
}
