.service {
  margin-top: var(--initial-margin-top);
  padding: var(--main-padding);
}

.service h1 {
  font-weight: 800;
  color: var(--gradient-start);
  margin-bottom: 8px;
}

.service h2 {
  color: var(--gradient-end);
  margin-bottom: 8px;
}

.slogan {
  width: 100%;
  max-width: 875px;
  margin-bottom: 196px;
}

.slogan h1 {
  font-size: 2.441rem;
}
