.howItWorks {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.howItWorksTitle {
  margin-bottom: 64px !important;
}

.stepContainer {
  border-radius: 6px;
  padding: 3px;
  width: 300px;
}

.step {
  background-color: var(--background);
  border-radius: 4px;
  padding: 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
